@use '@styles/colors';
@import '@styles/mixins';

.slider {
  width: calc(50% - 50px);
  position: relative;

  @include tab-media {
    width: 100%;
  }
}

.images {
  width: 100%;
  height: 100%;

  & div {
    width: 100%;
    height: 100%;
    position: relative;
  }

  @include tab-media {
    height: 70vw;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;

  &-enter {
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  &-enter-active {
    opacity: 0.5;
    transition: opacity 0.5s linear;
  }

  &-enter-done {
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  &-exit {
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  &-exit-done {
    opacity: 0;
    transition: opacity 0.5s linear;
  }
}

.prev,
.next {
  z-index: 200;
  width: 64px;
  height: 64px;
  background-color: colors.$green;
  position: absolute;
  top: calc(50% - 32px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  &:active {
    transform: scale(0.95);
  }

  & img {
    width: 30px;
    height: 30px;
    filter: brightness(20);

    @include tab-media {
      width: 18.5px;
      height: 18.5px;
    }
  }

  @include tab-media {
    width: 40px;
    height: 40px;
    top: calc(50% - 20px);
  }
}

.prev {
  left: 25px;
  @include tab-media {
    left: 16px;
  }
}

.next {
  right: 25px;
  @include tab-media {
    right: 16px;
  }
}
