@use '@styles/colors';
@import '@styles/mixins';

.navigation {
  height: 100%;

  & .list {
    gap: 60px;

    @include tab-media {
      gap: 15px;
    }
  }
}

.list {
  height: 100%;
  display: flex;
  flex-direction: row;

  list-style-type: none;
}
