@use '@styles/colors';
@import '@styles/mixins';

.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 385px;

  &:hover {
    cursor: pointer;
  }

  & a {
    text-decoration: none;
    max-width: 380px;
  }

  &__image {
    width: 100%;
    object-fit: contain;
    margin-bottom: 25px;
  }

  &__category {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 130%;
    color: colors.$subtitle;
    margin-bottom: 14px;

    @include tab-media {
      font-size: 0.75rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 130%;
    margin-bottom: 6px;

    @include tab-media {
      font-size: 0.875rem;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 180%;
    color: colors.$subtitle;
    margin-bottom: 18px;

    @include tab-media {
      font-size: 0.75rem;
    }
  }

  &__content {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 130%;
    color: colors.$title;
    margin-bottom: 9px;

    @include tab-media {
      font-size: 0.875rem;
    }
  }

  @include tab-media {
    width: calc((100% - 15px) / 2);
  }
}
