@use '@styles/colors';
@import '@styles/mixins';

.section {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 100px 0 50px;

  &__content {
    display: flex;
    flex-direction: column;
    width: calc(50% - 50px);

    @include tab-media {
      gap: 30px;
      width: 100%;
    }
  }

  &__title {
    margin: 30px 0 20px;

    font-weight: 700;
    font-size: 2.75rem;
    line-height: 130%;
    color: colors.$title;

    @include tab-media {
      margin: 0 0 20px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 180%;
    color: colors.$subtitle;
    margin-bottom: 128px;

    @include tab-media {
      margin-bottom: 30px;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 130%;
    color: colors.$title;
    margin-bottom: 50px;

    @include tab-media {
      margin-bottom: 30px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;

    & button {
      flex-grow: 1;
    }

    & button:last-child {
      background-color: colors.$white;
      color: colors.$title;
      border: 2px solid colors.$grey;
    }

    @include tab-media {
      flex-direction: column;
      gap: 12px;
    }
  }

  @include tab-media {
    flex-direction: column;
    margin: 50px 0 50px;
  }
}

.title {
  align-self: flex-start;
  font-weight: 700;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: colors.$title;
  margin-bottom: 30px;

  @include tab-media {
    font-size: 1.125rem;
    margin-bottom: 23px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 55px;

  @include tab-media {
    gap: 15px;
    margin-bottom: 36px;
  }
}
