@use '@styles/colors';
@import '@styles/mixins';

.filter {
  width: 190px;
  position: relative;
  flex: 1 0 auto;

  &_disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  &__select {
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    padding: 27px;

    font-weight: 500;
    font-size: 1.125rem;
    line-height: 180%;
    cursor: pointer;
    color: colors.$title;
    background-color: colors.$white;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(175, 173, 181, 0.2);

    @include tab-media {
      height: 48px;
      font-size: 0.875rem;
      padding: 10px;
    }
  }

  &__options {
    width: 190px;
    position: absolute;
    z-index: 10;
    top: 96px;
    right: 0;
    background-color: colors.$white;
    box-sizing: border-box;
    box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);

    @include tab-media {
      width: 100%;
      top: 60px;
    }
  }
}

.list {
  margin: 0;
  padding: 0;

  &__item {
    cursor: pointer;
    list-style: none;
    padding: 16px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 18px;
    color: colors.$black;

    &_selected {
      color: colors.$green;
    }
  }
}
