@use '@styles/colors';
@import '@styles/mixins';

.product {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 100px 0 50px;

  &__content {
    display: flex;
    flex-direction: column;
    width: calc(50% - 50px);

    @include tab-media {
      gap: 30px;
      width: 100%;
    }
  }

  &__title {
    margin: 30px 0 20px;

    font-weight: 700;
    font-size: 2.75rem;
    line-height: 130%;
    color: colors.$title;

    @include tab-media {
      margin: 0 0 20px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 180%;
    color: colors.$subtitle;
    margin-bottom: 128px;

    @include tab-media {
      margin-bottom: 30px;
    }
  }

  &__price {
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 130%;
    color: colors.$title;
    margin-bottom: 50px;

    @include tab-media {
      margin-bottom: 30px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;

    & a {
      width: calc((100% - 20px) / 2);
      flex-grow: 1;

      & button {
        width: 100%;
      }

      @include tab-media {
        width: auto;
      }
    }

    & button {
      width: calc((100% - 20px) / 2);
      flex-grow: 1;

      @include tab-media {
        width: auto;
      }
    }

    &_white {
      background-color: colors.$white;
      color: colors.$title;
      border: 2px solid colors.$grey;
    }

    @include tab-media {
      flex-direction: column;
      gap: 12px;
    }
  }

  &__buttons-group {
    min-width: 140px;
    height: 55px;
    width: calc((100% - 20px) / 2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-top: 2px solid colors.$grey;
    border-bottom: 2px solid colors.$grey;

    @include tab-media {
      width: auto;
    }

    & button {
      min-width: auto;
      flex-grow: 0;
      width: 3rem;
      padding-right: 20px;
      background-color: colors.$white;
      color: colors.$title;
      border: 2px solid colors.$grey;

      &:active {
        transform: scale(0.95);
      }

      & img {
        width: 24px;
        height: 24px;
      }
    }

    & div {
      text-align: center;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 130%;
    }
  }

  @include tab-media {
    flex-direction: column;
    margin: 50px 0 50px;
  }
}
