@use '@styles/colors';
@import '@styles/mixins';

.pagination {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 50px;

  @include tab-media {
    gap: 12px;
  }
}

.pages {
  display: flex;
  flex-direction: row;
}

.page,
.dots,
.prev,
.next {
  width: 38px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;

  @include tab-media {
    width: 32px;
    height: 32px;
  }
}

.prev,
.next {
  &_disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  @include tab-media {
    width: 28px;
    height: 32px;
  }
}

.page {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;
  color: colors.$title;
  border: 1.5px solid colors.$lightgrey;

  &_selected {
    color: colors.$white;
    background-color: colors.$green;
    border: 1.5px solid colors.$green;
  }
}

.dots {
  align-self: flex-end;
  cursor: default;
}
