@use '@styles/colors';
@import '@styles/mixins';

.section {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 130%;
  color: colors.$title;
  margin: 100px 0 20px;

  @include tab-media {
    font-size: 1.625rem;
    margin: 50px 0 20px;
  }
}

.subtitle {
  max-width: 600px;
  min-width: 327px;
  margin: 0 0 80px;

  font-weight: 500;
  font-size: 1.125rem;
  line-height: 180%;
  text-align: center;
  color: colors.$subtitle;

  @include tab-media {
    font-size: 0.875rem;
    margin: 0 0 32px;
  }
}

.bar {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 30px;

  @include tab-media {
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
  }
}

.total {
  margin: 0 0 40px;
  align-self: flex-start;

  font-weight: 700;
  font-size: 2.75rem;
  line-height: 130%;
  color: colors.$title;

  &__count {
    width: 60px;
    height: 30px;
    margin-left: 10px;
    padding: 4.5px 16px;
    background: colors.$lightgrey;
    border-radius: 20px;

    font-weight: 700;
    font-size: 1rem;
    line-height: 130%;
    color: colors.$green;
    vertical-align: middle;

    @include tab-media {
      font-size: 0.75rem;
      padding: 4.5px 10px;
    }
  }

  @include tab-media {
    font-size: 1.125rem;
    margin: 0 0 20px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 80px;

  @include tab-media {
    gap: 15px;
    margin-bottom: 30px;
  }
}
